.container {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.header {
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4.5rem;
}

.rowContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 30px;
}

.paragraph {
  flex: 1;
  min-width: 280px;
  padding: 20px;
}

.paragraphTitle {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

.paragraph hr {
  border: none;
  height: 2px;
  width: 270px;
  background-color: #ffffff;
  margin-bottom: 12px;
}

.paragraphTwo hr {
  border: none;
  height: 2px;
  width: 320px;
  background-color: #ffffff;
  margin-bottom: 12px;
}

.linkRow hr {
  border: none;
  height: 2px;
  width: 430px;
  background-color: #ffffff;
  margin-bottom: 12px;
}

.linkRowTwo hr {
  border: none;
  height: 2px;
  width: 145px;
  background-color: #ffffff;
  margin-bottom: 12px;
}

.linkRowThree hr {
  border: none;
  height: 2px;
  width: 210px;
  background-color: #ffffff;
  margin-bottom: 12px;
}

.paragraphBody {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  color: #ffffff;
  line-height: 1;
  font-weight: 400;
}

.paragraphTwo {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 280px;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  color: #ffffff;
  line-height: 1;
  font-weight: 400;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.linkRow,
.linkRowTwo,
.linkRowThree {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  color: #ffffff;
  line-height: 1;
  font-weight: 400;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.paragraphTwo a,
.linkRow a,
.linkRowTwo a,
.linkRowThree a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  word-break: break-all;
  overflow-wrap: anywhere;
  display: inline-block;
}

@media (max-width: 768px) {
  .rowContainer {
    flex-direction: column;
  }

  .paragraph,
  .paragraphTwo,
  .linkRow,
  .linkRowTwo,
  .linkRowThree {
    max-width: 100%;
  }

  .container {
    padding: 0px;
  }

  .header {
    font-size: 3.5rem;
  }

  .paragraph hr,
  .paragraphTwo hr,
  .linkRow hr,
  .linkRowTwo hr,
  .linkRowThree hr {
    width: 100%;
  }
}
