.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 1001;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled {
  background-color: #2c4c37;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.logo {
  font-size: 27px;
  font-weight: bold;
  font-family: "Georgia", serif;
  color: #ffffff;
}

.menuContainer {
  display: flex;
  gap: 20px;
}

.menuItem {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  padding: 10px 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.menuItem:hover {
  background-color: #2d3832;
}

.menuItemActive {
  background-color: #2d3832;
}

.hamburgerMenu {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 820px) {
  .menuContainer {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #284231;
    padding: 50px 20px;
    z-index: 1000;
    overflow-y: auto;
  }

  .menuOpen {
    display: flex;
  }

  .menuClosed {
    display: none;
  }

  .hamburgerMenu {
    display: block;
  }
}

@media (min-width: 821px) and (max-width: 1024px) {
  .logo {
    font-size: 20px;
  }
  .menuItem {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
  }
}
